.calframe {
	padding-left: 10px;
}

.announce-title-left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.iftarformheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.iftarformsubheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}


.iftarcal-datebutton {
/*	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	font-weight: bold;
*/
/*
	 margin: 0px;
	padding: 0px;
	width: 100px; */

}

.iftarcal-assigned {
/* 	font-family: "Courier New", Courier, mono;
	font-size: 15px;
	color: #CC0000;
	*/
	font-weight: bold;

}

.helptext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: red;
}

.iftarcal-eid {
/*	font-family: Arial, Helvetica, sans-serif; */
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color: maroon;
	text-align: center;
	vertical-align: text-bottom;
	margin: 0px;
	padding: 0px
}

.iftarhost-display {
	font-size: 18px;
	font-weight: bold;
}

.iftarhost-display-sm {
	font-size: 18px;
	font-weight: bold;
}

.potluck {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #009933;
	text-align: center;
	vertical-align: text-bottom;
	margin: 0px;
	padding: 0px;
}

.iftarcal-party {
/*	font-family: Arial, Helvetica, sans-serif; */
	font-size: 12px;
	font-weight: bold;
	color: darkred;
	text-align: center;
	vertical-align: text-bottom;
	margin: 0px;
	margin-top: -20px;
	padding: 0px
}

.assigntable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.reservetablefield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.iftarcal-table-cell {
	width: 110px;
	height: 85px;
	text-align: center;
}

.dateheader {
/*
	font-family: Arial, Helvetica, sans-serif;
*/
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	height: 35px;
}

.iftarcal-table-row {
	vertical-align: top;
}

.iftarcal-table {
	/* this should 7x the width of iftarcal-table-cell */
	width: 770px;
}

.iftarcal-date {
/*	font-family: Arial, Helvetica, sans-serif; */
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.iftarcal-hijridate {
/*	font-family: "Times New Roman", Times, serif; */
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	font-style: italic;
}

.specialevent {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #009933;
	text-align: center;
	vertical-align: text-top;
	margin: 0px;
	padding: 0px;
}

.iftarcal-contactinfo {
	font-size: 14px;
	font-weight: bold;
}

.iftarcal-host-display {
	font-size: 18px;
	font-weight: bold;
}

.iftarcal-remove-button {
	font-size: 12px;
	color: darkred;
}

.iftarcal-edit-button {
	font-size: 12px;
	color: darkblue;
}